<%= form_for :collection, url: user_collections_path(current_user.id), method: :post do |f| %>
  <%= f.hidden_field :cook_id, { value: current_user.id } %>
  <%= f.hidden_field :recipe_id, { value: r.id } %>

  <div class="form-group">
    <%= f.label :id, "Collection Name: " %>
    <%= f.collection_select(:id, current_user.collections, :id, :name, prompt: "Please Select", class: "form-control") %>
  </div>
  <%= f.submit "Add To Collection" %>
<% end %>
<br><br>

<%= form_for :collection, url: user_collections_path(current_user.id), method: :post do |f| %>
  <%= f.hidden_field :cook_id, { value: current_user.id } %>
  <%= f.hidden_field :recipe_id, { value: r.id } %>

  <div class="form-group">
    <%= f.label :name, "New Collection Name: " %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Create New Collection" %>
<% end %>
