<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li> <br>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, { value: current_user.id }  %>
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %> <br> <br>
  <%= f.label :description, "Description: " %>
  <%= f.text_area :description %> <br> <br>
  <%= f.label :instructions, "Instructions: " %>
  <%= f.text_area :instructions %>
  <!-- Need to add nested element for ingredients and quantity of the ingredient in the recipe. -->
  <%= f.submit %>
<% end %>
