<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li> <br>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :user_id, { value: current_user.id }  %>
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name, class: "form-control" %>
  </div> <br> <br>

  <div class="form-group">
  <%= f.label :description, "Description: " %>
  <%= f.text_area :description, class: "form-control" %>
  </div><br> <br>

  <div class="form-group">
    <%= f.label :instructions, "Instructions: " %>
    <%= f.text_area :instructions, class: "form-control" %> <br><br>
  </div>

  <div class="form-nesting">
    <%= f.fields_for :quantities do |quantity| %>
      <%= render 'quantity_fields', f: quantity %>
    <% end %>
    <%= link_to_add_association 'Add Ingredient', f, :quantities, wrap_object: Proc.new {|quantity| quantity.build_ingredient; quantity } %>
  </div>
  <!-- Need to add nested element for ingredients and quantity of the ingredient in the recipe. -->

  <br><br>

  <%= f.submit %>
<% end %>
