<script type="text/javascript" charset="utf-8">
 $(function () {
   $(".js-next").on("click", function(e) {
    e.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    getData(nextId, "next");
   });

   $(".js-prev").on("click", function(e) {
     e.preventDefault();
     var prevId = parseInt($(".js-prev").attr("data-id")) - 1;
     getData(prevId, "previous");
   });

   var getData = function(id, direction) {
    $.get("/recipes/" + id + ".json", function(json) {
    })
      .done(function (json) {
          setData(json);
          setLinks(json["id"], json["user"]["id"]);
      })
      .fail(function() {
        if (direction === "next") {
          id++;
        } else if (direction === "previous") {
          id--;
        }
        getData(id, direction);
      })
   };
   
   var setLinks = function(id, userId) {
      //reset the data-id to the new recipe id
       $(".js-next").attr("data-id", id);
       $(".js-prev").attr("data-id", id);

      // reset the clickable links for next and previous 
      if (id === <%= Recipe.all.first.id %>)
      {
        $(".js-next").show();
        $("#link-span").hide();
        $(".js-prev").hide();
      } else if (id === <%= Recipe.all.last.id %>) 
      {
        $(".js-next").hide();
        $("#link-span").hide();
        $(".js-prev").show();
      } else 
      {
        $(".js-next").show();
        $("#link-span").show();
        $(".js-prev").show();
      }

      if (<%= current_user.id %> === userId) {
        $(".recipe-delete").show();
      } else {
        $(".recipe-delete").hide();
      }
   }

   setLinks(<%= @recipe.id %>, <%= @recipe.user.id %>);

   var setData = function(json) {
       $("#recipe-name").text(json["name"]);
       $("#recipe-description").text(json["description"]);
       $("#recipe-instructions").text(json["instructions"]);
       
       // clear and reset the ingredient list
       $("#ingredient-list").empty();
       var quantityArr = json["quantities"];
       quantityArr.forEach(function(q) {
        $("ul#ingredient-list").append("<li class='ingredient-item'>" + q.amount + " - " + q.ingredient.name + "</li>");
      }, this);
      
      // clear and reset the reviews list
      $("ul.review_list").empty();
      var reviewArr = json["reviews"];
      reviewArr.forEach(function(r) {
        var date = new Date(r.updated_at);
        date_options = {day: '2-digit', month: '2-digit', year: 'numeric'};
        $("ul.review_list").append("<li class='review'><h4 class='review_title'>" + r.title + "</h4><p class='review_content'>" + r.content + "</p><p class='review_writer'> Reviewed On: " + date.toLocaleDateString("en-US", date_options) + "</p></li>")
      }, this);
   };
 });
</script>