<h1 id="recipe-name"><%= @recipe.name %></h1>
<p id="recipe-description"><%= @recipe.description %></p>

<h3>Ingredients</h3>
<ul id="ingredient-list">
  <% @recipe.quantities.each do |q| %>
    <li class="ingredient-item"><%= q.amount + " - " + q.ingredient.name %></li>
  <% end %>
</ul>

<h3>Instructions</h3>
<p id="recipe-instructions"><%= @recipe.instructions %></p> <br>

<p id="view-links"><%= link_to "Previous Recipe", "#", class: "js-prev", data: { id: @recipe.id } %> <span id="link-span">&emsp; &emsp; &emsp; &emsp;</span>  <%= link_to "Next Recipe", "#", class: "js-next", data: { id: @recipe.id } %></p> <br>

<%= link_to "Delete Recipe", @recipe, method: :delete, class: "recipe-delete" %>

<%= render 'review_form' %>

<%= render 'review' %>

<script id="review-template" type="text/x-handlebars-template">
  <li class="review">
    <h4 class="review_title"> {{title}} </h4>
    <p class="review_content"> {{content}} </p>
    <p class="review_date"> Reviewed On: {{updated_at}} </p>
  </li>
</script>

<%= render partial: "script", formats: "js" %>