<h1 id="recipe-name"><%= @recipe.name %></h1>
<p id="recipe-description"><%= @recipe.description %></p>

<h3>Ingredients</h3>
<ul id="ingredient-list">
  <% @recipe.quantities.each do |q| %>
    <li class="ingredient-item"><%= q.amount + " - " + q.ingredient.name %></li>
  <% end %>
</ul>

<h3>Instructions</h3>
<p id="recipe-instructions"><%= @recipe.instructions %></p> <br>

<p id="view-links"><%= link_to "Previous Recipe", "#", class: "js-prev", data: { id: @recipe.id } %> <span id="link-span">&emsp; &emsp; &emsp; &emsp;</span>  <%= link_to "Next Recipe", "#", class: "js-next", data: { id: @recipe.id } %></p> <br>

<% if current_user.id == @recipe.user_id %>
  <%= link_to "Delete Recipe", @recipe, method: :delete %>
<% end %>

<%= render 'review_form' %>

<script type="text/javascript" charset="utf-8">
 $(function () {
   if (<%= @recipe.id %> === <%= Recipe.all.first.id %>)
   {
     $(".js-next").show();
     $("#link-span").hide();
     $(".js-prev").hide();
   } else if (<%= @recipe.id %> === <%= Recipe.all.last.id %>) 
   {
     $(".js-next").hide();
     $("#link-span").hide();
     $(".js-prev").show();
   } else 
   {
     $(".js-next").show();
     $("#link-span").show();
     $(".js-prev").show();
   }


   $(".js-next").on("click", function(e) {
    e.preventDefault();
    var nextId = parseInt($(".js-prev").attr("data-id")) + 1;
     $.get("/recipes/" + nextId + ".json", function(json) {
       $("#recipe-name").text(json["name"]);
       $("#recipe-description").text(json["description"]);
       $("#recipe-instructions").text(json["instructions"]);
       $("#ingredient-list").empty();
       var quantityArr = json["quantities"];
       quantityArr.forEach(function(q) {
        $("ul#ingredient-list").append("<li class='ingredient-item'>" + q.amount + " - " + q.ingredient.name + "</li>");
      }, this);

       setLinks(json["id"]);
    });
   });

   $(".js-prev").on("click", function(e) {
     e.preventDefault();
     var prevId = parseInt($(".js-prev").attr("data-id")) - 1;
     $.get("/recipes/" + prevId + ".json", function(json) {
       $("#recipe-name").text(json["name"]);
       $("#recipe-description").text(json["description"]);
       $("#recipe-instructions").text(json["instructions"]);
       $("#ingredient-list").empty();
       var quantityArr = json["quantities"];
       quantityArr.forEach(function(q) {
        $("ul#ingredient-list").append("<li class='ingredient-item'>" + q.amount + " - " + q.ingredient.name + "</li>");
      }, this);

      setLinks(json["id"]);
     });
   });

   var setLinks = function(id) {
      //reset the data-id to the new recipe id
       $(".js-next").attr("data-id", id);
       $(".js-prev").attr("data-id", id);

      if (id === <%= Recipe.all.first.id %>)
      {
        $(".js-next").show();
        $("#link-span").hide();
        $(".js-prev").hide();
      } else if (id === <%= Recipe.all.last.id %>) 
      {
        $(".js-next").hide();
        $("#link-span").hide();
        $(".js-prev").show();
      } else 
      {
        $(".js-next").show();
        $("#link-span").show();
        $(".js-prev").show();
      }
   }
 });
</script>